@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
    --ff:'Roboto Slab', serif;
    --primary-color:#FFCA41;
    --font-color-dark:#333333;
    --font-color-light:rgba(51, 51, 51, 0.5);
    --font-color-white:#FFFFFF;

}

body {
    font-family: var(--ff);
}